*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../assets/background-gris-claro.jpg);
    color: aliceblue;
    padding: 25px;
}

h1{
    color: red;
    background-color: antiquewhite;
    padding: 10px;
}
.col-3{
    margin: 0px;
    padding: 10px;
}

img{
    padding: 5px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 3px rgba(53, 7, 182, 0.877);
}

img:hover{
    border: 10px solid red;
}