.loginBody{
    font-family: 'Roboto', sans-serif !important;
    font-size: large !important;
    background-image: url('../assets/background-3.png');
    
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    
}

.container-inicio-sesion{
    /* display: flex; */
    /* justify-content: center; */
    /* margin: 0 auto; */
    /* flex-direction: column; */
    /* width: 80%; */
    /* position: relative; */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border: 4px solid black;
    padding: 9rem;
    text-align: center;
    /* box-shadow: 8px -1px 5px 8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px -1px 5px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px -1px 5px 8px rgba(0,0,0,0.75); */
    box-shadow: 8px 0px 5px 9px rgba(0,0,0,0.5);
    -webkit-box-shadow: 8px 0px 5px 9px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 0px 5px 9px rgba(0,0,0,0.5);
    
    background-color: #FAD4C0;
    
}



#usuario-input, #contraseña-input, .ingresar-btn{ 
    font-size: large ;
    width: 100%;
    height: 40px;
    border-radius: 2%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    margin: 0;
    padding: 0;
}

.ingresar-btn{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    border-radius: 2%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    width: 46%;
}

.inicio{
    margin-right: 5%;
}

.cancelar{
    margin-left: 5%;
}

.ingresar-btn:hover{
    border: 2px solid rgb(65, 65, 65);
    background-color: black;
    color: white;
    font-size: 21px;
}

.ingresar-btn:hover .ini{
    background-color: black;
    color: white;
    font-size: 21px;
}

#forgot-pass, #not-have-account{
    text-decoration: none;
    color: rgb(22, 83, 196);
    
    
}
#forgot-pass:hover, #not-have-account:hover{
    color: rgb(255, 0, 0);
    font-size: 18.4px;
    
}
#google-icon, #facebook-icon{
    height: 25px;
    width: 25px;

}
.google-iniciar-box, .facebook-iniciar-box{
    padding-top: 13px;
    padding-bottom: 13px;
}

.google-iniciar-box span a, .facebook-iniciar-box span a{
    text-decoration: none;
    color: rgb(48, 62, 253);
}
.google-iniciar-box span a:hover, .facebook-iniciar-box span a:hover{
    text-decoration: underline;
}

.btn-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* media querie */

@media only screen and (max-width: 768px) {
    .container-inicio-sesion {
      width: 80%;
      margin: 0;
      padding: 20px;
    }
  }
@media only screen and (max-width: 576px) {
    .container-inicio-sesion {
      width: 100%;
      margin: 0;
      padding: 20px;
    }
  }
