*{
    margin: 0;
    padding: 0;
    color: white;
}
.navbar {
    height: 95px;
    background-color: #FAD4C0;
    width: 100%;
}

.btn-navbar{
  margin-left: 14rem;
}

.menu-navbar{
  margin-left: 10rem;;
}

.nav-img{
  height: 60px !important;
}

.modal-suscribe{
  background-color: rgba(247, 182, 147) !important;

}


body{
    background-image: url(/assets/background-1.jpg);
}

.container{
    background-color:rgba(37, 37, 37, 0.87);
    
}

.carousel{
    width: auto !important;
    margin-top: 35px !important;
}

.img{
    width :50%;
    margin-left: 25%;
}

.secciones{
    display: flex;
    justify-content: space-between;
    
}

.boton{
    width: 40% !important;
    color:black;
}

.comentarios{
    display: flex;
    border: solid black 1px;
}


.responder{
    text-decoration: none;
    color: aqua;
    cursor: pointer;
}

.recomendado{
    width: 30% !important;
    background-color: aqua;
}

.vanish{
    display: none !important;
}

.autor{
    font-style: italic;
}

.imagen{
    width: 50%;
    height: 45%;
}

.icono-ingredientes{
    width: 100px !important;
    height: 150px !important;
}

.icono-preparacion{
    width:100px;
    height:100px;
}

.usuario{
    border-radius: 100%;
    height: 70px;
    width: 70px;
}