/* En la segunda columna agregar los siguientes elementos: */
/* Un pequeño formulario de búsqueda, para encontrar diferentes artículos publicados. */
/* Una lista de categorías de las entradas del blog. */
/* Un área de publicidad, la cual deberá desaparecer cuando visualice la página en el tamaño de un celular.
 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*inicio del css del navbar*/
.navbar {
    height: 10vh;
    background-color: #FAD4C0;
    width: 100%;
}

.btn-navbar{
  margin-left: 14rem;
}

.menu-navbar{
  margin-left: 10rem;;
}

.nav-img{
  height: 60px !important;
}

.modal-suscribe{
  background-color: rgba(247, 182, 147) !important;
}

.modal-backdrop {
  z-index: 0 !important;
}
/*fin del css del navbar*/

.Main {
    display: flex;
    background-color: #ffffff;
}

/* Inicio segunda columna izquierda */
.segColBtn {
  display: none;
}
.segCol {
    width: 30%;
    background-color: RGB(250, 212, 192);
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: sticky;
    top: 10vh;

}
/* Fin segunda columna izquierda */
/* Inicio columna principal derecha */
.mainCol {

    width: 70%;
    padding: 15px;
}
/* Fin columna principal derecha */

.carousel1 {
    margin-top: 10vh;
}
.carousel2 {
  display: none;
  margin-top: 10vh;
}
/* Inicio parte input search segunda columna */

.inputSearchBar {
    border: none;
    outline: none;
    width: 90%;
    background-color: #FAD4C0;
    height: 40px;
    border-radius: 5px;
    caret-color: white;
}
.inputSearchDiv {
  width: 100%;
  background-color: #FAD4C0;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  align-items: center;
  border-radius: 5px;
}

.recipesTitle {
    margin: 5px 0;
}
.svgSearchBar {
    padding: 0 2%;
}
.inputSearchDiv:hover .inputSearchBar {
  background-color: #ffbc98;
}
.inputSearchDiv:hover {
  background-color: #ffbc98;
}
/* Fin parte input search segunda columna */

/* Inicio parte Recetas por categorias */
.categories {
    display: flex;
    flex-wrap: wrap;
}
.optCategories {
    margin: 5px;
    padding: 2px 5px;
    border: 0.5px solid black;
    border-radius: 5px;
}
.optCategories:hover {
    cursor: pointer;
    background-color: #ff7e39;
    transition: 0.2s;
    color: white;
}

/* Fin parte Recetas por categorias */
/* Comienzo de la columna 1*/

.mainCol{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.padre{
    display:flex ;
    background-color:#241835;
    /* width: 70%; */
}

.imagen{
    height: 100% !important;
}

.botones{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color:#241835;
  
}

.boton{
  margin-left: 15px;
  color: black;
}
/*inicio del css del footer*/
.foot-text{
  color: black;
}

.footer, .footer-content {
    width: 100% !important;
    height: 27vh !important;
    background-color: #FAD4C0;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

.social-network a.icoInstagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
  }
  
.social-network a.icoTwitter:hover {
    background-color: #1DA1F2;
  }
  
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
    color: #fff;
  }
  
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 15px;
  }
  
  .social-circle {
    list-style: none;
  }

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
  }
  
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
.social-network a {
    background-color: #F9F9F9;
  }

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
/*fin del css del footer*/

@media (max-width: 1200px){
    /*inicio css media-query navbar*/
    .nav-container{
        background-color: #FAD4C0 !important;
        width: 80% !important;
        border-radius: 5px;
    }

    .btn-navbar{
      margin-left: 2rem;
    }
    
    .menu-navbar{
      margin-left: 2rem;
    }

    .nav-link{
        font-size: smaller !important;
        margin: 0 !important;
    } 
    /*fin css media-query navbar*/
    /*inicio del css del footer*/
    .footer-container{
      font-size: medium;
    }
    /*fin del css del footer*/
}

@media (max-width: 768px){
    /*inicio css media-query navbar*/
    .nav-container{
        width: 90% !important;
    }

    .btn-navbar{
      margin-left: 0;
    }
    
    .menu-navbar{
      margin-left: 0;
    }

    .nav-link{
      font-size: smaller !important;
      margin: 0 !important;
    }
    /*fin css media-query navbar*/
    /* .optCategories {
      font-size: 0.8rem;
    } */
    /*inicio del css del footer*/
    .footer-content{
      height: auto !important;
    }
    
    .footer-container{
        font-size: medium;
    }

    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
      }

      .social-circle li i {
        margin: 0;
        line-height: 30px;
        text-align: center;
      }
      /*fin del css del footer*/
}

@media (max-width: 576px){
      /* carousel  */
      .carousel1 {
      display: none;
      }
      .carousel2 {
      display: block;
      margin-top: 15vh;
      }
      /*inicio css media-query navbar*/
  
      .nav-container{
         width: 100% !important;
      }
      /*fin css media-query navbar*/
      /* Inicio boton barra lateral */
      .segCol {
        display: none;
      }
      .segColBtn {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 45px;
        background-color: RGB(250, 212, 192);
        border-radius: 0 15px 15px 0;
        position: fixed;
        left: 0;
        top: 50vh;
        z-index: 2;
        border: 1px black solid;
      }
      .svgSearchBarBtn {
        height: 80%;
        width: 80%;
        text-align: center;
        padding-top: 10%;
      }
      .offcanvas {
        background-color: RGB(250, 212, 192) !important;
      }
      /* Fin boton barra lateral */
      /*inicio del css del footer*/
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 15px;
      }

      .social-circle li i {
        margin: 0;
        line-height: 50px;
        text-align: center;
      }
      /*fin del css del footer*/
      /* .optCategories {
        font-size: 0.7rem;
    } */

    /*  inicio media cards*/

    .mainCol{
      width:100%;
    }

    .vanish{
      display: none !important;
    }
}

/* Fin footer */