/* En la segunda columna agregar los siguientes elementos: */
/* Un pequeño formulario de búsqueda, para encontrar diferentes artículos publicados. */
/* Una lista de categorías de las entradas del blog. */
/* Un área de publicidad, la cual deberá desaparecer cuando visualice la página en el tamaño de un celular.
 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar {
    height: 10vh;
}
.Main {
    display: flex;
    background-color: #ffffff;
}
/* Inicio segunda columna izquierda */
.segCol {
    width: 30%;
    background-color: RGB(250, 212, 192);
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: sticky;
    top: 10vh;
    border: 2px solid black;
}
/* Fin segunda columna izquierda */
/* Inicio columna principal derecha */
.mainCol {
    border: red 2px  solid;
    width: 70%;
    padding: 10px;
}
/* Fin columna principal derecha */
.carousel {
    margin-top: 55px;
    /* z-index: -1; */
}
/* Inicio parte input search segunda columna */

.inputSearchBar {
    border: none;
    outline: none;
    width: 90%;
    background-color: #FAD4C0;
}
.inputSearchDiv {
    width: 100%;
    background-color: #FAD4C0;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
}
.recipesTitle {
    margin: 5px 0;
}
.svgSearchBar {
    padding: 0 2%;
}
.inputSearchDiv:hover .inputSearchBar {
    background-color: #ffbc98;
}
.inputSearchDiv:hover {
    background-color: #ffbc98;
}
/* Fin parte input search segunda columna */

/* Inicio parte Recetas por categorias */
.categories {
    display: flex;
    flex-direction: column;
}
.optCategories {
    margin: 0;
    padding: 5px 0;
}
.optCategories:hover {
    cursor: pointer;
    background-color: #ffbc98;
    padding-left: 10px;
    transition: 0.2s;
    font-weight: bold;
    border-radius: 10px;
}

/* Fin parte Recetas por categorias */
/* Comienzo de la columna 1*/

.mainCol{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.padre{
    display:flex ;
    background-color:#241835;
    /* width: 70%; */
}

.imagen{
    height: 100% !important;
}
/* Inicio footer */
.footer {
    width: 100%;
    height: 50vh;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}
/* Fin footer */